OPENAQ_API_KEY=your_openaq_v3_key_here
CITIES=Delhi,Mumbai,Bangalore,Chennai,Kolkata,Hyderabad,Ahmedabad,Jaipur,Lucknow,Patna,Bhopal,Bhubaneswar,Chandigarh,Dehradun,Guwahati,Raipur,Ranchi,Shimla,Thiruvananthapuram,Vijayawada,Panaji,Imphal,Shillong,Aizawl,Kohima,Agartala,Gangtok,Itanagar,Srinagar,Leh,Port Blair,Puducherry
DATA_OUT=data/aqi.json
API_PROVIDER=openaq
